<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Set MongoDB driver logs to WARN -->
  <logger name="org.mongodb" level="WARN"/>
  
  <!-- Set Testcontainers logs to WARN -->
  <logger name="org.testcontainers" level="WARN"/>
  <logger name="com.github.dockerjava" level="WARN"/>
  
  <!-- Set Jetty logs to WARN -->
  <logger name="org.eclipse.jetty" level="WARN"/>
  
  <!-- Set default level to INFO -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration> 